@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IBF</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Admin" asp-controller="Movies" asp-action="Index">IBF</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="Guest" asp-controller="Movies" asp-action="Index">Filmy</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="Guest" asp-controller="Stars" asp-action="Index">Gwiazdy</a>
                            </li>

                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="Admin" asp-controller="Movies" asp-action="Index">Filmy</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="Admin" asp-controller="VODs" asp-action="Index">VOD</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="Admin" asp-controller="Moods" asp-action="Index">Nastroje</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="Admin" asp-controller="Genres" asp-action="Index">Gatunki</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="Admin" asp-controller="Countries" asp-action="Index">Kraje</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="Admin" asp-controller="Stars" asp-action="Index">Gwiazdy</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="Admin" asp-controller="Functions" asp-action="Index">Funkcje</a>
                            </li>                            
                             <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="UsersDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                                    Zarządzaj użytkownikami
                                </a>
                                <div class="dropdown-menu" aria-labelledby="UsersDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Index">Usuń użytkownika</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="IndexModeratorsAdd">Nadaj uprawnienia</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="IndexModeratorsDelete">Zabierz uprawnienia</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="friendshipDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                                    Znajomi
                                </a>
                                <div class="dropdown-menu" aria-labelledby="friendshipDropdown">
                                    <a class="dropdown-item" asp-area="User" asp-controller="Friendships" asp-action="Index">Szukaj znajomego</a>
                                    <a class="dropdown-item" asp-area="User" asp-controller="Friendships" asp-action="FriendsList">Lista znajomych</a>
                                    <a class="dropdown-item" asp-area="User" asp-controller="Recommendations" asp-action="Index">Rekomendacje znajomych</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="User" asp-controller="Search" asp-action="FilterMoviesForm">Szukaj filmu</a>
                            </li>
                        }
                        else if (User.IsInRole("User") && !User.IsInRole("Moderator"))
                        {
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="User" asp-controller="Movies" asp-action="Index">Filmy</a>
                            </li>                            
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="User" asp-controller="Stars" asp-action="Index">Gwiazdy</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="User" asp-controller="Ratings" asp-action="Index">Twoje oceny</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="friendshipDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                                    Znajomi
                                </a>
                                <div class="dropdown-menu" aria-labelledby="friendshipDropdown">
                                    <a class="dropdown-item" asp-area="User" asp-controller="Friendships" asp-action="Index">Szukaj znajomego</a>
                                    <a class="dropdown-item" asp-area="User" asp-controller="Friendships" asp-action="FriendsList">Lista znajomych</a>
                                    <a class="dropdown-item" asp-area="User" asp-controller="Recommendations" asp-action="Index">Rekomendacje znajomych</a>
                                </div>
                            </li>
                             <li class="nav-item">
                                <a class="navbar-brand" asp-area="User" asp-controller="Search" asp-action="FilterMoviesForm">Szukaj filmu</a>
                            </li>
                           


                        }
                        else if (User.IsInRole("Moderator"))
                        {
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="Moderator" asp-controller="Movies" asp-action="Index">Filmy</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="Moderator" asp-controller="VODs" asp-action="Index">VOD</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="Moderator" asp-controller="Moods" asp-action="Index">Nastroje</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="Moderator" asp-controller="Genres" asp-action="Index">Gatunki</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="Moderator" asp-controller="Countries" asp-action="Index">Kraje</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="Moderator" asp-controller="Stars" asp-action="Index">Gwiazdy</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="Moderator" asp-controller="Functions" asp-action="Index">Funkcje</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="friendshipDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                                    Znajomi
                                </a>
                                <div class="dropdown-menu" aria-labelledby="friendshipDropdown">
                                    <a class="dropdown-item" asp-area="User" asp-controller="Friendships" asp-action="Index">Szukaj znajomego</a>
                                    <a class="dropdown-item" asp-area="User" asp-controller="Friendships" asp-action="FriendsList">Lista znajomych</a>
                                    <a class="dropdown-item" asp-area="User" asp-controller="Recommendations" asp-action="Index">Rekomendacje znajomych</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="User" asp-controller="Search" asp-action="FilterMoviesForm">Szukaj filmu</a>
                            </li>
                            <li class="nav-item"> 
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Index">Usuń użytkownika</a>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - IBF - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>