@{
    ViewData["Title"] = "Empty Friends List";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h1>Oceny znajomych</h1>

<p>Twoi znajomi nie ocenili tego filmu.</p>
<div>
    <a asp-action="Index">Wróć</a>
</div>