@{
    ViewData["Title"] = "Empty Recommendations";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h1>Znajomi, którzy nie widzieli</h1>

<p>Wszyscy twoi znajomi widzieli już ten film lub wysłałeś już im rekomendację.</p>
<div>
    <a asp-action="Index">Wróć</a>
</div>